{% extends 'base.html.twig' %}

{% block body %}
    <main class="flex-1 py-10 px-5 sm:px-10">
    <section>
        <div class="flex flex-row items-center space-x-6">
            <h1 class="text-lg font-medium text-black">Catégorie <span class="font-bold text-blue-600">{{categoryChose.label}}</span></h1>

            <nav class="flex space-x-6 text-gray-400 font-medium">
                {% for category in categories %}
                    <a href="{{ path('app_category_topics', { id : category.id }) }}" class="{{ (categoryChose == category ) ? 'text-gray-700 font-semibold' : 'hover:text-gray-700'}}">{{category.label}}</a>
                {% endfor %}
            </nav>
        </div>

        <div>
            {% for topic in categoryChose.topics %}
                {% if topic.status.value == 'open' or topic.status.value == 'close' %}
                    <article class="mt-9 bg-gray-100 p-4 rounded-lg">
                        {% if topic.status.value == 'open' %}
                            <span class="py-1.5 px-2.5 bg-green-500/30 rounded-full flex w-20 justify-center items-center gap-1">
                                <p class="font-medium text-xs text-green-600">{{topic.status.value}}</p>
                            </span>
                        {% elseif topic.status.value == 'close' %}
                            <span class="py-1.5 px-2.5 bg-red-500/30 rounded-full flex w-20 justify-center items-center gap-1">
                                <p class="font-medium text-xs text-red-600">{{topic.status.value}}</p>
                            </span>
                        {% elseif topic.status.value == 'waiting' %}
                            <span class="py-1.5 px-2.5 bg-orange-500/30 rounded-full flex w-20 justify-center items-center gap-1">
                                <p class="font-medium text-xs text-orange-600">{{topic.status.value}}</p>
                            </span>
                        {% endif %}

                        <h3 class="text-center text-md font-bold my-4">{{topic.title}}</h3>
                        <p class="text-center">{{topic.shortDescription}}</p>
                        <ul class="w-full p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900 flex gap-4 justify-center items-center">
                            <li class="py-1.5 px-2.5 bg-orange-500/30 rounded-full flex w-20 justify-center items-center gap-1"><p class="font-medium text-xs text-orange-600">{{topic.language.name}}</p></li>
                        </ul>
                        <p class="text-center">Il y a : <span class="font-semibold">{{ topic.responses|length }}</span> réponses</p>
                        <div class="flex items-center justify-center">
                            <a href="{{ path('app_topic', { id : topic.id }) }}">
                                <button type="submit" class="relative mt-5 bg-blue-700 flex-row p-2 items-center justify-center rounded-md text-sm overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105 w-fit">
                                    {{ button_label|default('Lire') }}
                                </button>
                            </a>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    </main>
{% endblock %}