{% extends 'base.html.twig' %}

{% block body %}
    <main class=" flex-1 py-10  px-5 sm:px-10 ">
        <section>
            <h1 class="text-lg font-medium text-black mb-9">Administration
                <span class="font-bold text-blue-700">des réponses</span>
            </h1>
        </section>

        <section class="mt-9">
            <div class="overflow-hidden  border rounded-lg border-gray-300">
                <table class="table-auto min-w-full rounded-xl">
                    <thead>
                        <tr class="bg-gray-50">
                            <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> ID</th>
                            <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> Auteur</th>
                            <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> Contenu</th>
                            <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> Topic</th>
                            <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> Actions</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-300 ">
                        {% for response in responses %}
                            <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ response.id }}</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ response.author.username }}</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ response.content }}</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">{{ response.topic.title }}</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900 flex">
                                    <a href="{{ path('app_response_show', {'id': response.id}) }}" class="group">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-5 w-5 group-hover:stroke-blue-600">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucune réponse trouvé.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>    
{% endblock %}
