{% extends 'base.html.twig' %}

{% import 'macro/response.html.twig' as macros %}

{% block body %}
    <main class="flex-1 py-10 px-5 sm:px-10">
        <section>
            <h1 class="text-lg font-medium text-black">{{topic.title}}</span></h1>
            <ul class="flex gap-4 items-center mt-4">
                <li class="flex gap-2 items-center">
                    <p class="font-medium">Par : </p>
                    <span class="py-1.5 px-2.5 bg-orange-500/30 rounded-full flex w-20 justify-center items-center gap-1">
                        <p class="font-medium text-xs text-orange-600">{{topic.author.username}}</p>
                    </span>
                </li>
                <li class="flex gap-2 items-center">
                    <p class="font-medium">Category : </p>
                    <span class="py-1.5 px-2.5 bg-orange-500/30 rounded-full flex w-20 justify-center items-center gap-1">
                        <p class="font-medium text-xs text-orange-600">{{topic.category.name}}</p>
                    </span>
                </li>
                <li class="flex gap-2 items-center">
                    <p class="font-medium">Langue : </p>
                    <span class="py-1.5 px-2.5 bg-orange-500/30 rounded-full flex w-20 justify-center items-center gap-1">
                        <p class="font-medium text-xs text-orange-600">{{topic.language.name}}</p>
                    </span>
                </li>
            </ul>

            {% if topic.status.value == 'close' %}
                <div class="w-full bg-red-500/30 text-red-500 rounded-lg mt-4">
                    <p class="p-4">Ce topic a été fermé</p>
                </div>
            {% elseif topic.status.value == 'waiting' %}
                <div class="w-full bg-orange-500/30 text-orange-500 rounded-lg mt-4">
                    <p class="p-4">Ce topic est en attente de confirmation de la part de nos administrateurs.</p>
                </div>
            {% endif %}
            
            <div class="mt-4 border-t border-b p-4">
                <p class="text-center">{{topic.longDescription}}</p>
            </div>

            <div>
                {% for response in topic.responses %}
                    {% include './macro/response.html.twig' %}
                    {{ macros.afficheReponse(response, topic) }}
                {% endfor %}
            </div>

            {% if topic.status.value == 'open' %}
                {{ form_start(form) }}
                    <div class="mt-9 bg-gray-100 p-4 rounded-lg">
                        <h3 class="text-center text-md font-bold my-4">Souhaitez-vous apporter une réponse ?</h3>
                        <div class="relative">
                            {{ form_widget(form.content) }}
                        </div>
                        <div>
                            <span class="opacity-50 text-xs italic mt-4 block">* Votre commentaire sera publié et visible par tous après avoir été analysé par notre système.</span>
                        </div>
                        <div class="flex items-center justify-center mt-2">
                            <button type="submit" class="relative mt-5 bg-blue-700 flex-row p-2 items-center justify-center rounded-md text-sm overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105 w-fit">
                                {{ button_label|default('Ajouter votre réponse') }}
                            </button>
                        </div>
                    </div>
                {{ form_end(form) }}
            {% endif %}
                
        </section>
    </main>
{% endblock %}
